footer
  .container.text-center
    p.pull-left © 2014 Jeremy Meyer, Alex Akagi, John Lawson, Nick ..., and Dakota St. Laurent
    ul.pull-right.list-inline
      li
        a(href='https://github.com/aakagi/screwyouapp') GitHub Project
      li
        a(href='https://github.com/aakagi/screwyouapp/issues') Issues
