extends layout

block content
  .row.title-container
    .col-sm-8
      h1 MyoBooth
      p.lead A gesture-based image management service that integrates with multiple APIs
    .col-sm-4
      button.btn.download Get Myo Script
  hr
  .row
    .col-sm-5
      h2 Myo
      p Myo armband's rich gesture recognition technology allows you to take and view pictures easily and naturally.
      img(src="/img/myo_crop.jpg" height=240)
    .col-sm-5.col-sm-offset-1
      h2 Fully Integrated
      p A diverse set of APIs allows you to share and store your pictures on all of your favorite platforms.
      img.yo(src="/img/yo.jpg" height=200)

