extends layout

block content
  // script.
  //   ZiggeoApi.Videos.index({}, function(a, b, c) {
  //     console.log(a);
  //     console.log(b);
  //     console.log(c);
  //   });
  .row
    .col-sm-12
      h1 Album
  hr
  .row
    .col-sm-4
      ziggeo(ziggeo-height="240" ziggeo-width="320" ziggeo-video="db1b174b363d1a39da491b25c7e917b8")
    .col-sm-4
    .col-sm-4

