extends layout

block content
  script.
    // ZiggeoApi.Events.on("submitted", function (data) {
    //   var id = data.video.token;
    // });
    navigator.getUserMedia  = navigator.getUserMedia ||
                              navigator.webkitGetUserMedia ||
                              navigator.mozGetUserMedia ||
                              navigator.msGetUserMedia;
    $(document).on("keypress", function(e) {
      switch(e.charCode) {
      case 102:
        console.log("play/pause");
        break;
      case 105:
        console.log("prev filter");
        break;
      case 111:
        console.log("next filter");
        break;
      case 116:
        console.log("share");
        FB.api("/me/photos", "POST",
          { "url": "" },
          function (response) {
            if (response && !response.error) {
              console.log(response);
            }
          });
        break;
      }
    });
  .row.title-container
    .col-sm-8
      h1 MyoBooth
      p.lead A gesture-based image management service that integrates with multiple APIs
  .row
    .col-sm-12
      p Take photo
      input(type="file", accept="image/*;capture=camera")
      br
  .row
    .col-sm-12
      ziggeo

