extends layout

block content
  script.
    // ZiggeoApi.Events.on("submitted", function (data) {
    //   var id = data.video.token;
    // });
    $(document).on("keypress", function(e) {
      switch(e.charCode) {
      case 102:
        console.log("play/pause");
        break;
      case 105:
        console.log("prev filter");
        break;
      case 111:
        console.log("next filter");
        break;
      case 116:
        console.log("share");
        break;
      }
    });
  .row.title-container
    .col-sm-8
      h1 MyoBooth
      p.lead A gesture-based image management service that integrates with multiple APIs
  hr
  .row
    .col-sm-12
      <ziggeo></ziggeo>

