extends layout

block content
  h1 Screw You!
  p.lead A gesture-based messaging service that integrates with multiple APIs
  hr
  .row
    .col-sm-4
      h2 Myo
      p Myo armband's rich gesture recognition allows you to send a diverse set of messages.
      img(src="/img/myo_crop.jpg" width=480)
    .col-sm-4.col-sm-offset-2
      h2 Fully Integrated
      p A diverse set of APIs allows you to communicate on your favorite platform.
      br
      img(src="/img/yo.jpg" width=480)
