extends layout

block content
  input(id="csrf" type="hidden", name="_csrf", value="#{csrf_token}")
  script.
    ZiggeoApi.Events.on("submitted", function (data) {
      var id = data.video.token;
      $.post('/createVideo?id=' + id, function(err, res) {
        console.log(err);
        console.log(res);
      });
    });
  .row.title-container
    .col-sm-8
      h1 MyoBooth
      p.lead A gesture-based image management service that integrates with multiple APIs
    //
      .col-sm-4
        button.btn.download Get Myo Script
  hr
  .row
    .col-sm-12
      <ziggeo></ziggeo>
      // <ziggeo ziggeo-video="">

