doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    title #{title} | MyoBooth
    link(rel="stylesheet", href="http://assets.ziggeo.com/css/ziggeo-betajs-player.min.css")
    != css('styles')
    script(src="http://assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js")
    script ZiggeoApi.token = "b364fe4ea1807e806e78a8f821573ea0";
  body
    include partials/navbar

    .container
      include partials/flash
      block content

    include partials/footer

    != js('application')
